body {
    margin: 0;
    font-family: monospace;
}

#parent {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#desc-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#desc {
    width: 50%;
    min-width: 100px;
}
